 * {
    margin: 0px;
    padding: 0px;
 }

 /*Declaring my fonts*/
@font-face {
    font-family: brogte;
    src: url(fonts/brogte-rpmge.otf);
}
@font-face {
    font-family: roboto mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
/* Website Control Panel*/
 :root {
    /* Color theme */
    --color-oxford-blue: #040926;
    --color-cornflower-blue: #214497;
    --color-congo-pink: #FF7370;
    --color-nyanza-pale-green: #E4FDE1;
    --color-white: #fefffb;

    /* Website color definitions */
    /* Do not change unless necessary as any change is applied across the website */
    --selection-bg: var(--color-congo-pink);
    --selection-font-color: var(--color-oxford-blue);
    --header-bg: var(--color-nyanza-pale-green);
    --header-font-color: var(--color-oxford-blue);
    --section-font-color: var(--color-oxford-blue);
    --section-bg: var(--color-white);
    --section-img-shadow-color: var(--color-congo-pink);
    --section-img-shadow-color-odd: var(--color-cornflower-blue);
    --link-hover-color: var(--color-congo-pink);

    /* Website font definitions */
    /* Do not change unless necessary as any change is applied across the website */
    --my-serif: brogte;
    --my-sans-serif: roboto mono;
    --header-font: var(--my-sans-serif);
    --logo-font: var(--my-serif);
    --section-font: var(--my-sans-serif);

    /* Other definitions */
    --header-active-nav-link: underline;
 }
 ::selection {
    color: var(--selection-font-color);
    background-color: var(--selection-bg);
 }
/* Header properties apply to the footer, too */
header, footer {
    height: 10vh;
    background-color: var(--header-bg);
    color: var(--color-oxford-blue);
    font-family: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
footer {
    justify-content: center;
    text-align: center;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: var(--header-font-color);
}
a:hover {
    color: var(--link-hover-color);
}
header nav {
    width: 50%;
}
header #logo {
    font-family: var(--logo-font);
    margin-left: 0.5em;
    font-size: 2.5rem;
}
.active {
    text-decoration: var(--header-active-nav-link);
}
section {
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--section-font);
    color: var(--section-font-color);
    background-color: var(--section-bg);
    text-align: center;
}
section h1 {
    margin: 1em;
    font-size: 2rem;
    border-bottom: 5px solid var(--color-cornflower-blue);
}
#homeSection {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}
#homeSection img {
    width: 20vw;
    margin: 0px;
}
section img, video {
    width: 50vw;
    margin: 2em;
    box-shadow: 7.5px 7.5px 0px var(--section-img-shadow-color);
    filter: drop-shadow(3px 5px 15px #04092644);
}
section img:nth-of-type(odd) {
    box-shadow: 7.5px 7.5px 0px var(--section-img-shadow-color-odd);
}
h2 {
    border-bottom: 3px solid var(--color-congo-pink);
}
#homeSection h1 {
    width: 70vw;
    margin: 0px;
    font-size: 2.5rem;
    border-bottom: none;
}
span {
    border-bottom: 7.5px solid var(--color-cornflower-blue);
}
section p {
    display: inline-block;
    width: 70vw;
}
#bioSection li {
    margin-bottom: 1em;
    text-align: left;
}
#portfolioSection a, #bioSection a{
    text-decoration: underline;
}
@media (max-width: 426px) {
    header, footer {
        font-size: 0.75rem;
    }
    header {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    header #logo {
        margin-left: 0px;
    }
    header nav {
        width: 100%;
        margin-bottom: 0.5em;
    }
    #homeSection {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #homeSection h1 {
        font-size: 2.25rem;
        width: 80vw;
    }
    #homeSection img {
        width: 60vw;
    }

    section img, video {
        width: 80vw;
    }
    section p {
        width: 90vw;
    }
    section h1 {
        font-size: 1.75rem;
    }
    section h2 {
        font-size: 1.25rem;
    }
    #bioSection li {
        width: 70vw;
    }
}