 * {
    margin: 0px;
    padding: 0px;
 }

 /*Declaring my fonts*/
 /* *************Delete unused when done!*************** */
@font-face {
    font-family: abril;
    src: url(fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: alata;
    src: url(fonts/Alata-Regular.ttf);
}
@font-face {
    font-family: brogte;
    src: url(fonts/brogte-rpmge.otf);
}
@font-face {
    font-family: roboto mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto mono italic;
    src: url(fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}
 :root {
    /* Color theme */
    --color-oxford-blue: #040926;
    --color-cornflower-blue: #214497;
    --color-congo-pink: #FF7370;
    --color-nyanza-pale-green: #E4FDE1;
    --color-white: #fefffb;

    /* Project color definitions */
    /* Do not change unless necessary as any change is applied across the project */
    --selection-bg: var(--color-congo-pink);
    --selection-font-color: var(--color-oxford-blue);
    --header-bg: var(--color-nyanza-pale-green);
    --header-font-color: var(--color-oxford-blue);
    --section-font-color: var(--color-oxford-blue);
    --section-bg: var(--color-white);
    --section-img-shadow-color: var(--color-congo-pink);
    --link-hover-color: var(--color-congo-pink);

    /* Project font definitions */
    /* Do not change unless necessary as any change is applied across the project */
    --my-serif: brogte;
    --my-sans-serif: roboto mono;
    --header-font: var(--my-sans-serif);
    --logo-font: var(--my-serif);
    --section-title-font: var(--my-sans-serif);

    /* Other definitions */
    --header-active-nav-link: underline;


 }
 ::selection {
    color: var(--selction-font-color);
    background-color: var(--selection-bg);
 }
/* Header properties apply to the footer, too */
header, footer {
    height: 10vh;
    background-color: var(--header-bg);
    color: var(--color-oxford-blue);
    font-family: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    justify-content: center;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
header a {
    text-decoration: none;
    color: var(--header-font-color);
}
a:hover {
    color: var(--link-hover-color);
}
header nav {
    width: 50%;
}
header #logo {
    font-family: var(--logo-font);
    margin-left: 1em;
    font-size: 2.5rem;
}
.active {
    text-decoration: var(--header-active-nav-link);
}
section {
    height: 80vh;
    overflow: auto;
    display: flex;
    font-family: var(--section-title-font);
    color: var(--section-font-color);
    background-color: var(--section-bg);
}
#homeSection {
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;  
}
section img {
    width: 20vw;
    box-shadow: 7.5px 7.5px 0px var(--section-img-shadow-color);
    filter: drop-shadow(3px 5px 15px #04092644);
}
#homeSection h1 {
    width: 70vw;
}
#homeSection b {
    border-bottom: 7.5px solid var(--color-cornflower-blue);
}
#bioSection, #experienceSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#bioSection h1, #experienceSection h1 {
    margin: 1em;
    font-size: 2rem;
}
#bioSection p , #experienceSection p{
    display: inline-block;
    width: 70vw;
}
#bioSection img, #experienceSection img {
    width: 50vw;
    margin: 2em;
}
#bioSection li {
    margin-bottom: 1em;
}